*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(./img/R.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.registation-form{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 100px;
    background: rgba(8, 0, 0, 0);
    width: 500px;
    height: 650px;
}

input{
    width: 400px;
    height: 30px;
    border-color: blueviolet;
    padding: 3px;
    font-weight: bold;
    margin: 5px;
    border-radius: 5px;
    background: rgba(241, 237, 237, 0);
    color: white;
    margin-top: 10px;
    outline: none;
}

select{
    width: 410px;
    height: 30px;
    border-color: blueviolet;
    font-weight: bold;
    border-radius: 5px;
    background: rgba(241, 237, 237, 0);
    outline: none;
    margin-top: 10px;
}

option{
    background: rgb(123, 12, 138);
}

#rsubmit:hover{
 background: black;
}

/* form{
    box-shadow: 5px 0px 5px 0px;
} */