*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(./img/R.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.registation-form{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 100px;
    background: rgba(8, 0, 0, 0);
    width: 500px;
    height: 650px;
}

input{
    width: 400px;
    height: 40px;
    border-color: rgba(18, 17, 18, 0.945);
    padding: 3px;
    font-weight: bold;
    margin: 5px;
    border-radius: 5px;
    background: rgba(241, 237, 237, 0);
    color: white;
    margin-top: 20px;
    outline: none;
}

select{
    width: 410px;
    height: 30px;
    border-color: rgb(7, 7, 7);
    font-weight: bold;
    border-radius: 5px;
    background: rgba(241, 237, 237, 0);
    outline: none;
    margin-top: 10px;
    border: solid 2px;
}

option{
    background: rgb(123, 12, 138);
}

#rsubmit:hover{
 background: black;
}

.btn1{
    /* background: rgb(159, 35, 148); */
    margin: 2px;
    border-radius: 5px;
    padding: 1px;
    font-weight: bold;
    width: 100px;
}

.btn2{
    /* background: rgb(159, 35, 148); */
    margin: 2px;
    border-radius: 5px;
    padding: 1px;
    font-weight: bold;
    width: 100px;
}

.btn1:hover{
    transform: scale(1.1);
    font-weight: bold;
    background: rgb(159, 35, 159);
}

.btn2:hover{
    transform: scale(1.1);
    transition: 0s;
    background: rgb(159, 35, 148);
}

form svg{
    position: absolute;
    left: 980px;
}